canvas {
    border: 20px solid rgba(245, 108, 45, 0.877);
    border-radius: 12px;
}

#play-again-button {
    width: 200px;
    margin:20px;
    border-radius: 10px;
    border: 10px solid rgba(245, 108, 45, 0.877)
}

#instrucciones {
    height: 400px;
    margin-right:20px;
    border-radius: 10px;
    border: 10px solid rgba(245, 108, 45, 0.877)

}
#columna-izq {
    display:flex;
    flex-direction:column;
    justify-content: center;
	align-items: center;
	align-content: center;
}

body{
    background: radial-gradient(#FDBB2D, #22C1C3);    
}



#game-screen{
    display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

